{% extends "Radius/Layouts/layout.html" %} 

{% block content %}
    
    <h1 class="ls-title-intro ls-ico-user">Apagar usuário</h1>

    <form method="POST">

        <p class="ls-text-lg">
            Deseja realmente apagar o usuário <strong>{{user.name}}</strong>?
        </p>

        <input type="hidden" name="csrf_name" value="{{ token.name }}"/>
            
        <input type="hidden" name="csrf_value" value="{{ token.value }}"/>

        <button type="submit" class="ls-btn ls-btn-dark ls-btn-lg">Apagar</button>

    </form>

{% endblock %}
