{% extends "Radius/Layouts/layout.html" %} 

{% block content %}
    
    <h1 class="ls-title-intro ls-ico-user">Listar usuário</h1>

    <div class="ls-box-filter">
        
        <form action="{{dir}}/usuarios/listar" class="ls-form ls-form-inline">
            
            
            <input type="hidden" name="page" value="{{page}}" />


            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Nome</b>
                <input type="text" name="nome" value="{{name}}" required />
            </label>

            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Atributo</b>
                <input type="text" name="atributo" value="{{attribute}}" />
            </label>

            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Grupo</b>
                <input type="text" name="grupo" value="{{group}}" />
            </label>


            <input type="submit" value="Pesquisar" class="ls-btn ls-btn-primary ls-float-right"/>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
    
            <div class="table-responsive">

            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Atributos de Verificação</th>
                        <th>Atributos de Resposta</th>
                        <th>Grupos</th>
                        <th></th>
                    </tr>
                </thead>
                    
                <tbody>

                {% for user in users %}
                    <tr>
                        
                        <td>{{user.name}}</td>

                        <td>
                            <div class="ls-custom-select">
                                <select class="ls-select">
                                    {% for radCheck in user.attributesCheck %}

                                        <option value="1">{{radCheck.attribute}}</option>
                                    {% else %}

                                        <option>Nenhum</option>
                                    {% endfor %}
                                </select>
                             </div>
                        </td>

                        <td>
                            <div class="ls-custom-select">
                                <select class="ls-select">
                                    {% for radReply in user.attributesReply %}

                                        <option>{{radReply.attribute}}</option>
                                    {% else %}
                                    
                                        <option>Nenhum</option>
                                    {% endfor %}
                                </select>
                             </div>
                        </td>

                        <td>
                            <div class="ls-custom-select">
                                <select class="ls-select">
                                    {% for group in user.groups %}

                                        <option>{{group.name}}</option>
                                    {% else %}
                                    
                                        <option>Nenhum</option>
                                    {% endfor %}
                                </select>
                             </div>
                        </td>

                        <td>

                            <a href="{{dir}}/usuarios/estatistica?nome={{user.name}}" class="ls-btn ls-ico-stats"></a>
                    
                            <a href="{{dir}}/usuarios/alterar?nome={{user.name}}" class="ls-btn ls-ico-edit-admin"></a>
                    
                           <a href="{{dir}}/usuarios/apagar?nome={{user.name}}" class="ls-btn ls-ico-remove"></a>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan=5>Nenhum registro para exibir</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

            </div>

            <ul class="ls-pager">

                {% if page - 1 >= 0 %}

                    <li>
                        <a href="{{dir}}/usuarios/listar?nome={{name}}&atributo={{attribute}}&pagina={{page - 1}}">
                            &laquo; Anterior
                        </a>
                    </li>
                {% endif %}

                    <li class="counter">
                        Pág. {{page + 1}}
                    </li>

                {% if users is not empty %}
                
                    <li>
                        <a href="{{dir}}/usuarios/listar?nome={{name}}&atributo={{attribute}}&pagina={{page + 1}}">
                            Próximo &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>


        </div>
    </div>

{% endblock %}
