{% extends "Radius/Layouts/layout.html" %} 

{% block content %}

    <h1 class="ls-title-intro ls-ico-user">Estatisticas usuário</h1>

    <div class="ls-box-filter">
        
        <form action="{{dir}}/users/statistic" class="ls-form ls-form-inline">
            
            <input type="hidden" name="userName" value="{{userName}}" />           

            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Dispositivo</b>
                <div class="ls-custom-select">
                    <select name="mac" class="ls-select">

                        <option value="">Todos</option>

                        {% for device in devices %}
                            
                            <option value="{{device.mac}}" {{ device.mac == mac ? 'selected' : '' }} >
                                {{device.mac}}
                            </option>
                        {% endfor %}

                    </select>
                </div>
            </label>

            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">NAS</b>
                <div class="ls-custom-select">
                    <select name="nas" class="ls-select">

                        <option value="">Todos</option>
                    
                        {% for client in clients %}
                            
                            <option value="{{client.nasipaddress}}" {{ client.nasipaddress == nas ? 'selected' : '' }} >
                                {{client.nasipaddress}}
                            </option>
                        {% endfor %}

                    </select>
                </div>
            </label>
            <label class="ls-label col-lg-2 col-md-3 col-sm-12">
                <div class="ls-prefix-group">
                    
                    <input type="text" 
                        name="date1" 
                        class="datepicker ls-daterange" 
                        placeholder="Data inicio" 
                        id="date1" 
                        value="{{date1}}"
                        data-ls-daterange="#date2"/>
                    
                    <a class="ls-label-text-prefix ls-ico-calendar" data-trigger-calendar="#date1" href="#"></a>
                </div>
            </label>

            <label class="ls-label col-lg-2 col-md-3 col-sm-12">
                <div class="ls-prefix-group">
                   
                    <input type="text" 
                        name="date2" 
                        class="datepicker ls-daterange" 
                        placeholder="Data final" 
                        id="date2" 
                        value="{{date2}}"/>
                    
                    <a class="ls-label-text-prefix ls-ico-calendar" data-trigger-calendar="#date2" href="#"></a>
                </div>
            </label>


            <input type="submit" value="Pesquisar" class="ls-btn ls-btn-primary ls-float-right"/>
        </form>
    </div>


    <h2 class="ls-title-4 ls-md-margin-top">{{userName}}</h2>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p>Resumo conexões do usuário por período.</p>
        </div>
        <div class="col-md-6 col-sm-6">

                <p class="ls-float-right ls-float-none-xs">
                    Período selecionado: 
                    <strong>
                        {{ date1 ?: '' }} até {{ date2 ?: 'Agora' }}
                    </strong>
                </p>
        </div>
    </div>

    <div class="ls-clearfix"></div>

    <div class="ls-board-box">
        <div id="sending-stats" class="row">
    
            <div class="col-sm-6 col-md-4">
                <div class="ls-box">
                   
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">Conexões</h6>
                    </div>
                   
                   <div class="ls-box-body">
                        <strong class="ls-color-theme">{{ qtAccts |  number_format( 0, ',', '.') }}</strong>
                        <small>Conexões</small>
                    </div>
            
                    <div class="ls-box-footer"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="ls-box">
                   
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">Tempo médio</h6>
                    </div>
                   
                   <div class="ls-box-body">
                        <strong class="ls-color-theme">{{ ( timeAvg|round ) |  number_format( 0, ',', '.') }}</strong>
                        <small>Segundos</small>
                    </div>
            
                    <div class="ls-box-footer"></div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="ls-box">
                   
                    <div class="ls-box-head">
                        <h6 class="ls-title-4">Comsumo médio</h6>
                    </div>
                   
                   <div class="ls-box-body">

                        <div class="ls-half-board-data">
                            
                            <canvas id="chart-down-up"></canvas>
                        </div>

                        <div class="ls-half-board-data">
                            <strong class="ls-color-theme">{{ ( downloadAvg|round ) | number_format( 0, ',', '.') }}</strong>
                            <small>Download</small>
                            <strong class="ls-color-danger">{{ ( uploadAvg|round ) |  number_format( 0, ',', '.') }}</strong>
                            <small>Upload</small>
                        </div>


                    </div>
            
                    <div class="ls-box-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row ls-md-margin-top">
        <div class="col-md-12">
    
            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th class="ls-text-sm">IP</th>
                        <th class="ls-text-sm">Dispositivo</th>
                        <th class="ls-text-sm">Inicio</th>
                        <th class="ls-text-sm">Duração</th>
                        <th class="ls-text-sm">Down</th>
                        <th class="ls-text-sm">Up</th>
                        <th class="ls-text-sm">NAS</th>
                        <th class="ls-text-sm"></th>
                    </tr>
                </thead>
                    
                <tbody>

                {% for acct in radAccts %}
                    <tr>                        
                        <td class="ls-text-xs">{{acct.framedipaddress}}</td>
                        <td class="ls-text-xs">{{acct.callingstationid}}</td>
                        <td class="ls-text-xs">{{acct.acctstarttime | date( "d/m/Y H:i:s" )}}</td>
                        <td class="ls-text-xs">{{acct.acctsessiontime}}</td>
                        <td class="ls-text-xs">{{acct.acctinputoctets}}</td>
                        <td class="ls-text-xs">{{acct.acctoutputoctets}}</td>
                        <td class="ls-text-xs">{{acct.nasipaddress}}</td>
                        <td class="ls-float-right">
                            <a href="#" class="ls-btn ls-ico-zoomin"></a>      
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan=8>Nenhum registro para exibir</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

            <ul class="ls-pager">

                {% if page - 1 >= 0 %}

                    <li>
                        <a href="{{dir}}/users/statistic?userName={{userName}}&page={{page - 1}}&date1={{date1}}&date2={{date2}}&mac={{mac}}&nas={{nas}}">
                            &laquo; Anterior
                        </a>
                    </li>
                {% endif %}

                    <li class="counter">
                        Pág. {{page + 1}}
                    </li>

                {% if radAccts is not empty %}
                
                    <li>

                        <a href="{{dir}}/users/statistic?userName={{userName}}&page={{page + 1}}&date1={{date1}}&date2={{date2}}&mac={{mac}}&nas={{nas}}">
                            Próximo &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>


        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript" src="{{dir}}/assets/public/js/user/user-statistic.js"></script>

{% endblock %}
 
