{% extends "Radius/Layouts/layout.html" %} 

{% block content %}
    
    <h1 class="ls-title-intro ls-ico-user">Ver usuário</h1>

    <div class="ls-box">
    
        <h2 class="ls-title-4">{{user.name}}</h2>
        
        <hr/>

        <h2 class="ls-title-5">Grupos</h2>
    
        <div class="table-responsive">

            <table class="ls-table">
                
                <thead>
                    <tr><th>Nome</th></tr>
                </thead>
                    
                <tbody>

                {% for group in user.groups %}  
        
                    <tr><td>{{group.name}}</td></tr>
                {% else %}
                    <tr><td>Nenhum grupo encontrado</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
                
        <hr/>

        <h2 class="ls-title-5">Atributos de verificação</h2>

        <div class="table-responsive">

            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th>Atributo</th>
                        <th>Operador</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                    
                <tbody>

                {% for check in user.attributesCheck %}  
        
                    <tr>
                        <td>{{check.attribute}}</td>
                        <td>{{check.op}}</td>
                        <td>{{check.value}}</td>
                    </tr>
                {% else %}
                    <tr><td>Nenhum atributo de verificação encontrado</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr/>

        <h2 class="ls-title-5">Atributos de resposta</h2>

        <div class="table-responsive">

            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th>Atributo</th>
                        <th>Operador</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                    
                <tbody>

                {% for reply in user.attributesReply %}  
        
                    <tr>
                        <td>{{reply.attribute}}</td>
                        <td>{{reply.op}}</td>
                        <td>{{reply.value}}</td>
                    </tr>
                {% else %}
                    <tr><td>Nenhum atributo de resposta encontrado</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

{% endblock %}
