<!DOCTYPE html>
<html class="ls-theme-light-blue">
    <head>
        <title>Radius Admin</title>

        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
        <link href="{{dir}}/assets/public/css/vendor.css" rel="stylesheet"/>
    </head>

    <body>
        <div class="ls-topbar ">

            <!-- Barra de Notificações -->
            <div class="ls-notification-topbar">

                <!-- Links de apoio -->
                <div class="ls-alerts-list">

                    <a href="#" class="ls-ico-bell-o" data-counter="8" data-ls-module="topbarCurtain" data-target="#ls-notification-curtain"><span>Notificações</span></a>

                    <a href="#" class="ls-ico-question" data-ls-module="topbarCurtain" data-target="#ls-feedback-curtain"><span>Sugestões</span></a>

                </div>

                <!-- Dropdown com detalhes da conta de usuário -->
                <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
                
                    <a href="#" class="ls-ico-user">
                        <span class="ls-name">Nome</span>
                        (usuario)
                    </a>

                    <nav class="ls-dropdown-nav ls-user-menu">
                        <ul>
                            <li><a href="#">Sair</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <span class="ls-show-sidebar ls-ico-menu"></span>

            <a href="/locawebstyle/documentacao/exemplos//pre-painel"  class="ls-go-next"><span class="ls-text">Voltar à lista de serviços</span></a>

            <!-- Nome do produto/marca com sidebar -->
            <h1 class="ls-brand-name">
                <a href="home" class="ls-ico-earth">
                    <small>freeradius interface</small>
                    Radius Admin
                </a>
            </h1>

            <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->
        </div>

        <aside class="ls-sidebar">

            <div class="ls-sidebar-inner">
                <a href="/locawebstyle/documentacao/exemplos//pre-painel"  class="ls-go-prev">
                    <span class="ls-text">Voltar à lista de serviços</span>
                </a>

                <nav class="ls-menu">
                    <ul>
                        <li><a href="{{dir}}/" class="ls-ico-home">Inicio</a></li>
                        <li>
                            <a href="#" class="ls-ico-user">Usuários</a>
                            <ul>
                                <li><a href="{{dir}}/usuarios/listar">Listar</a></li>
                                <li><a href="{{dir}}/usuarios/criar">Novo</a></li>
                            </ul>
                        </li>                        
                        <li>
                            <a href="#" class="ls-ico-users">Grupos</a>
                            <ul>
                                <li><a href="{{dir}}/grupos/listar">Listar</a></li>
                                <li><a href="{{dir}}/grupos/criar">Novo</a></li>
                            </ul>
                        </li>
                        <li><a href="{{dir}}/estatisticas/" class="ls-ico-stats">Estatísticas</a></li>
                        <li>
                            <a href="#" class="ls-ico-ftp">Clientes ( NAS )</a>
                            <ul>
                                <li><a href="{{dir}}/clientes/listar">Listar</a></li>
                                <li><a href="{{dir}}/clientes/criar">Novo</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

        <main class="ls-main ">
            <div class="container-fluid">
                                
                {% block content %}
                {% endblock %}
 
            </div>
        </main>

        <aside class="ls-notification">
            <nav class="ls-notification-list" id="ls-notification-curtain" style="left: 1716px;">
                <h3 class="ls-title-2">Notificações</h3>
                <ul>
                    <li class="ls-dismissable">
                        <a href="#">Exemplo</a>
                        <a href="#" data-ls-module="dismiss" class="ls-ico-close ls-close-notification"></a>
                    </li>
                </ul>
            </nav>

            <nav class="ls-notification-list" id="ls-feedback-curtain" style="left: 1796px;">
                <h3 class="ls-title-2">Ajuda</h3>
                <ul>
                    <li><a href="#">Exemplo</a></li>
                </ul>
            </nav>
        </aside>

        <script src="{{dir}}/assets/public/js/vendor.js"></script>
    </body>
</html>
