{% extends "Radius/Layouts/layout.html" %} 

{% block content %}
 
    <h1 class="ls-title-intro ls-ico-user">Listar cliente</h1>
    
    <div class="ls-box-filter">
        
        <form action="{{ path_for( 'client_list' ) }}" class="ls-form ls-form-inline">
            
            
            <input type="hidden" name="page" value="{{page}}" />


            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Nome</b>
                <input type="text" name="nasName" value="{{nasName}}" placeholder="Nome" />
            </label>

            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Apelido</b>
                <input type="text" name="shortName" value="{{shortName}}" placeholder="Apelido" />
            </label>

            <label class="ls-label col-md-3 col-sm-3">
                <b class="ls-label-text">Tipo</b>
                <input type="text" name="type" value="{{type}}" placeholder="Tipo" />
            </label>


            <input type="submit" value="Pesquisar" class="ls-btn ls-btn-primary ls-float-right"/>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
    
            <div class="table-responsive">

            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Apelido</th>
                        <th>Tipo</th>
                        <th>Servidor</th>
                        <th>Community</th>
                        <th></th>
                    </tr>
                </thead>
                    
                <tbody>

                {% for client in clients %}
                    <tr>
                        
                        <td>{{client.nasname}}</td>
                        <td>{{client.shortname}}</td>
                        <td>{{client.type}}</td>
                        <td>{{client.server}}</td>
                        <td>{{client.community}}</td>

                        <td>
                    
                            <a href="{{ path_for( 'client_update' )}}?id={{ client.id }}" class="ls-btn ls-ico-edit-admin"></a>
                    
                            <a href="{{ path_for( 'client_delete' ) }}?id={{ client.id }}" class="ls-btn ls-ico-remove"></a>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan=6>Nenhum registro para exibir</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

            </div>

            <ul class="ls-pager">

                {% if page - 1 >= 0 %}

                    <li>
                        <a href="{{dir}}/protected/clients/list?nasName={{nasName}}&shortName={{shortName}}&page={{page - 1}}">
                            &laquo; Anterior
                        </a>
                    </li>
                {% endif %}

                    <li class="counter">
                        Pág. {{page + 1}}
                    </li>

                {% if users is not empty %}
                
                    <li>
                        <a href="{{dir}}/protected/clients/list?nasName={{nasName}}&shortName={{shortName}}&page={{page + 1}}">
                            Próximo &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>

{% endblock %}
