{% extends "Radius/Layouts/layout.html" %} 


{% block content %}
 
<h1 class="ls-title-intro ls-ico-ftp">Ver cliente</h1>

    <div class="ls-box">
    
        <h2 class="ls-title-4">{{client.nasname}}</h2>
        
        <hr/>

        <div class="table-responsive">

            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th>Atributo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                    
                <tbody>
         
                    <tr>
                        <td>Apelido ( shortname )</td><td>{{client.shortname}}</td>
                    </tr>

                    <tr>
                        <td>Tipo</td><td>{{client.type}}</td>
                    </tr>

                    <tr>
                        <td>Portas</td><td>{{client.ports}}</td>
                    </tr>
   
                    <tr>
                        <td>Senha ( secret )</td><td>{{client.secret}}</td>
                    </tr>
   
                    <tr>
                        <td>Servidor</td><td>{{client.server}}</td>
                    </tr>
   
                    <tr>
                        <td>Community</td><td>{{client.community}}</td>
                    </tr>
   
                    <tr>
                        <td>Descrição</td><td>{{client.description}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
</div>

{% endblock %}
