{% extends "Radius/Layouts/layout.html" %} 

{% block content %}
    
    <h1 class="ls-title-intro ls-ico-users">Listar grupo</h1>

    <div class="ls-box-filter">
       
       <form action="{{dir}}/groups/list" class="ls-form ls-form-inline">
                      
            <input type="hidden" name="page" value="{{page}}" />


            <label class="ls-label col-md-4 col-sm-4">
                <b class="ls-label-text">Nome</b>
                <input type="text" name="name" value="{{name}}" placeholder="Nome"/>
            </label>

            <label class="ls-label col-md-4 col-sm-4">
                <b class="ls-label-text">Atributo</b>
                <input type="text" name="attribute" value="{{attribute}}" placeholder="Atributo"/>
            </label>

            <input type="submit" value="Pesquisar" class="ls-btn ls-btn-primary ls-float-right"/>
        </form>
       
     </div>

    <div class="row">
        <div class="col-md-10">
            <table class="ls-table">
                
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Atributos de verificação</th>
                        <th>Atributos de resposta</th>
                        <th></th>
                    </tr>
                </thead>
                    
                <tbody>

                {% for group in groups %}
                    <tr>
                        <td>{{group.name}}</td>

                        <td>
                            <div class="ls-custom-select">
                                <select class="ls-select">
                                    {% for radCheck in group.attributesCheck %}

                                        <option>{{radCheck.attribute}}</option>
                                    {% else %}
                                    
                                        <option>Nenhum</option>
                                    {% endfor %}
                                </select>
                             </div>
                        </td>

                         <td>
                            <div class="ls-custom-select">
                                <select class="ls-select">
                                    {% for radReply in group.attributesReply %}

                                        <option>{{radReply.attribute}}</option>
                                    {% else %}
                                    
                                        <option>Nenhum</option>
                                    {% endfor %}
                                </select>
                             </div>
                        </td>

                        <td>
                    
                            <a href="{{dir}}/groups/update?name={{group.name}}" class="ls-btn ls-ico-edit-admin"></a>
                    
                            <a href="{{dir}}/groups/delete?name={{group.name}}" class="ls-btn ls-ico-remove"></a>
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td colspan=2>Nenhum registro para exibir</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

            <ul class="ls-pager">

                {% if page - 1 >= 0 %}

                    <li>
                        <a href="{{dir}}/groups/list?name={{name}}&attribute={{attribute}}&page={{page - 1}}">
                            &laquo; Anterior
                        </a>
                    </li>
                {% endif %}

                    <li class="counter">
                        Pág. {{page + 1}}
                    </li>
 
                {% if groups is not empty %}
                
                    <li>
                        <a href="{{dir}}/groups/list?name={{name}}&attribute={{attribute}}&page={{page + 1}}">
                            Próximo &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>

{% endblock %}
