
<table class="ls-table">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Operador</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
                    
    <tbody>

        {% for attribute in user.attributesReply %}
   
            <tr>
                <td>
                    <input type="text" name="atributo-resposta[]" value="{{attribute['attribute']}}" placeholder=""/>
                </td>
                
                <td>

                    <div class="ls-custom-select">
                        
                        <select name="operador-resposta[]" class="ls-select">
                            {% for operator in operators %}                           
                                <option value="{{operator}}">{{operator}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                                
                <td>
                    <input type="text" name="valor-resposta[]" value="{{attribute['value']}}" placeholder="" />
                </td> 
                
                <td>
                    <button class="ls-btn ls-ico-remove"></button>
                </td>
            </tr>

        {% endfor %}

        <tr>
            <td>
                <input type="text" id="atributo-verificacao-novo" value="" placeholder=""/>
            </td>

            <td>
                <div class="ls-custom-select">
                        
                    <select id="operador-verificacao-novo" class="ls-select">
                        {% for operator in operators %}                           
                            <option value="{{operator}}">{{operator}}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
                                
            <td>
                <input type="text" id="valor-verificacao-novo" value="" placeholder="" />
            </td> 
                                
            <td>
                <button class="ls-btn"> Adicionar</button>
            </td>

        </tr>
                            
    </tbody>
</table>

