
<table class="ls-table">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Operador</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
                    
    <tbody id="attributes-reply">

        {% for attribute in entity.attributesReply %}
   
            <tr>
                <td>
                    <input type="text" name="attributes-reply[]" value="{{attribute['attribute']}}" placeholder=""/>
                </td>
                
                <td>

                    <div class="ls-custom-select">
                        
                        <select name="operators-reply[]" class="ls-select">
                            {% for operator in operators %}                           
                                <option value="{{operator}}">{{operator}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                                
                <td>
                    <input type="text" name="values-reply[]" value="{{attribute['value']}}" placeholder="" />
                </td> 
                
                <td>
                    <button class="ls-btn ls-ico-remove btn-remove-attribute"></button>
                </td>
            </tr>

        {% endfor %}
             <tr>
                <td>
                    <input type="text" name="attributes-reply[]" value="" placeholder=""/>
                </td>
                
                <td>

                    <div class="ls-custom-select">
                        
                        <select name="operators-reply[]" class="ls-select">
                            {% for operator in operators %}                           
                                <option value="{{operator}}">{{operator}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                                
                <td>
                    <input type="text" name="values-reply[]" value="" placeholder="" />
                </td> 
                
                <td>
                    <button class="ls-btn ls-ico-remove btn-remove-attribute"></button>
                </td>
            </tr>

                           
    </tbody>
</table>

<div id="template-reply" class="ls-display-none">
            
    <input type="text" id="attribute-reply-new" value="" placeholder=""/>

    <div id="operator-reply-new" class="ls-custom-select">
                        
        <select class="ls-select">
            {% for operator in operators %}                           
                <option value="{{operator}}">{{operator}}</option>
            {% endfor %}
        </select>
    </div>
   
    <input type="text" id="value-reply-new" value="" placeholder="" />
    
    <button type="button" id="btn-remove-reply-new" class="ls-btn ls-ico-remove btn-remove-attribute"></button>

</div>

<input type="button" id="btn-add-reply" class="ls-btn" value="Adicionar" />
